{% extends "base.html" %}

{% block head_title %} Posts list | {{ block.super }} {% endblock head_title %}

{% block content %}

    {% if query %}
        <h1><small>Search:</small> {{ query }}</h1>
    {% endif %}
    <div class="row">
        {% for obj in posts_list %}
            <div class="col-md-4">
                <div class="bs-component">
                    <div class="well infobox">
                        <h1><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h1>
                        <p>
                            {{ obj.content | linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
        <div class="row">
        <div class="pagination">
            <span class="step-links">
                {% if posts_list.has_previous %}
                    <a href="?{{ page_request_var }}={{ posts_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts_list.number }} of {{ posts_list.paginator.num_pages }}.
                </span>

                {% if posts_list.has_next %}
                    <a href="?{{ page_request_var }}={{ posts_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}