{% extends "base.html" %}

{% block head_title %} {{ instance.title }} | {{ block.super }} {% endblock head_title %}


{% block content %}

<div class="col-sm-6 col-sm-offset-3">
    <div class="row">
        <div class="">
            <img src="{% if instance.image %}{{instance.image.url}}{% else %}http://placehold.it/600x400{% endif %}" alt="" class="img-responsive">
        </div>
        <h1>{{ instance.title }} <small>{{ instance.timestamp }}</small></h1>

        <p>
            {{ instance.content | linebreaks }}
        </p>

    </div>

    <div class="row">
        <h2>
            <a href="edit/">Edit</a>
        </h2>
        <h2>
            <a href="delete/">Delete</a>
        </h2>
    </div>
</div>
{% endblock content %}