{% extends "base.html" %}

{% block head_title %} Create or edit post | {{ block.super }} {% endblock head_title %}

{% block content %}

<!--<form method="POST" action="">{% csrf_token %}
{{ form.as_p }}

<input type="submit" value="Create post">
</form>-->

<div class="well bs-component">
<form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
  <fieldset>
    <legend>Create or edit post</legend>
    <div class="form-group">
      <label for="title" class="col-md-2 control-label">Title</label>

      <div class="col-md-10">
        <input type="text" class="form-control" name="title" id="title" value="{{ instance.title }}" placeholder="Title">
      </div>
    </div>
      
    <div class="form-group">
      <label for="content" class="col-md-2 control-label">Content</label>

      <div class="col-md-10">
        <textarea class="form-control" rows="3" name="content" id="content">{{ instance.content }}</textarea>
      </div>
    </div>

    <div class="form-group is-empty is-fileinput">
      <label for="image" class="col-md-2 control-label">Image</label>

      <div class="col-md-10">
        <input type="text" readonly="" class="form-control" placeholder="Browse...">
        <input type="file" name="image" id="image" multiple="">
      </div>
      <span class="material-input"></span>
    </div>
    
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <button type="button" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

{% endblock content %}